<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <meta
      name="description"
      content="Mit dem Supply Chain Planer werden Bestellungen, Lagerhaltung, die Produktion und der Absatz geplant"
    />
    <title>Upload Data from Previous Period</title>

    <script>
        /*Aufruf der Dateiauswahl-Button-Funktion*/
        document.addEventListener("DOMContentLoaded", function(event) { 
            fileUploadStyling();
        })

        /*Änderung der Dateiauswahl-Button-Anzeige*/
        function fileUploadStyling(){
            let input = document.querySelectorAll("input[type=file]");

            var inputFile = input[0];
                inputFile.addEventListener('change',function(e){

                    var label = this.nextElementSibling;

                    if(this.files && this.files.length == 1){
                        label.innerHTML = '"'+ this.files[0].name + '"'+ ' ausgewählt.';
                    }
                });
         }

    </script>

  </head>
  <body>
    <nav>
      <ul class="progressbar">
        <li class="active"><a href="1_lastPeriod.html">Vorherige Periode</a></li>
        <li><a href="2_salesPrediction.html">Absatz Prognosen</a></li>
        <li><a href="3_stockPlaner.html">Lager</a></li>
        <li><a href="4_productionSequence.html">Produktionsreihenfolge und Losgrößen</a></li>    
        <li><a href="5_orders_purchase.html">Bestellungen</a></li> 
        <li><a href="6_capacity.html">Kapazität</a></li> 
        <li><a href="7_finances.html">Finanzen</a></li>
      </ul>
    </nav>

    <form method="post" enctype="multipart/form-data">
      <div class="upload-container">
        <img id="file-upload" src="{{ url_for('static', filename='img/FileUpload.png') }}" />
        <h2>Endwerte der vorherigen Periode hochladen</h2>
        <p>
          Laden Sie die Endwerte der vorherigen Periode in Form einer XML-Datei
          hoch.
        </p>

        <input class="file-selector" type="file" accept="text/xml" name="file" id="file-selector">
        <label for="file-selector">Datei auswählen</label>
        </input>
        <button class="accent-button">
            <span class="material-icons white-icon">
                file_upload
            </span>
            Hochladen
        </button>
        {% if error %}
        <p class="error">Bitte eine Datei auswählen!</p>
        {% endif %}
        <br>
        <p>Falls das Ihre erste Periode ist und es keine vorherigen gibt, laden Sie keine Datei hoch und drücken Sie auf "Weiter".</p>
      </div>
    </form>

    <button 
      class="continue-button" 
      type="submit" 
      value="Upload" 
      onclick="location.href='2_salesPrediction.html'">
      Weiter
      <img id="continue-icon" src="{{ url_for('static', filename='img/continueArrow.png') }}" />
    </button>
  </body>
  <footer>
    © IbSys2 Projekt von René Hopfe, David Böhm und Amelie Rempel, 2021
  </footer>
</html>
