<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta
      name="description"
      content="Mit dem Supply Chain Planer werden Bestellungen, Lagerhaltung, die Produktion und der Absatz geplant"
    />
    <title>Sales Prediction, Stock and Production Planer</title>
  </head>
  <body>
    <nav>
      <ul class="progressbar">
        <li class="active">
          <a href="1_lastPeriod.html">Vorherige Periode</a>
        </li>
        <li class="active">
          <a href="2_salesPrediction.html"
            >Absatz-Prognosen und Produktionsplan</a
          >
        </li>
        <li>
          <a href="3_stockPlaner.html"
            >Lager und Produktion der Zwischenerzeugnisse</a
          >
        </li>
        <li>
          <a href="4_productionSequence.html"
            >Produktionsreihenfolge und Splitting</a
          >
        </li>
        <li><a href="5_orders_purchase.html">Bestellungen</a></li>
        <li><a href="6_capacity.html">Kapazität</a></li>
        <li><a href="7_finances.html">Finanzen</a></li>
      </ul>
    </nav>

    <div class="big-container">
      <!-- Absatz-Prognosen -->
      <h3>
        Geben Sie die Absatzprognosen für die aktuelle und die darauffolgenden
        Perioden an.
      </h3>
      <table id="sales-table">
        <thead>
          <tr>
            <th>Produkte</th>
            <th>Aktuelle Periode</th>
            <th>Aktuell +1</th>
            <th>Aktuell +2</th>
            <th>Aktuell +3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>P1</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-0"
              type="number"
            >
              {{ sales_1_0 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-1"
            >
              {{ sales_1_1 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-2"
            >
              {{ sales_1_2 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-3"
            >
              {{ sales_1_3 }}
            </td>
          </tr>
          <tr>
            <td>P2</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-0"
            >
              {{ sales_2_0 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-1"
            >
              {{ sales_2_1 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-2"
            >
              {{ sales_2_2 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-3"
            >
              {{ sales_2_3 }}
            </td>
          </tr>
          <tr>
            <td>P3</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-0"
            >
              {{ sales_3_0 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-1"
            >
              {{ sales_3_1 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-2"
            >
              {{ sales_3_2 }}
            </td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              name="sales-3"
            >
              {{ sales_3_3 }}
            </td>
          </tr>
          <tr>
            <td><em>Summe</em></td>
            <td id="sum-0">0</td>
            <td id="sum-1">1</td>
            <td id="sum-2">2</td>
            <td id="sum-3">3</td>
          </tr>
        </tbody>
      </table>

      <script>
        calculateSums();

        document.addEventListener("keyup", function (event) {
          calculateSums();
        });

        /* Calculate sums of table */
        function calculateSums() {
          var table = document.getElementById("sales-table");

          for (var column = 0; column < 4; column++) {
            var sum = 0;

            for (var row = 1; row < table.rows.length - 1; row++) {
              sum += parseInt(table.rows[row].cells[column + 1].innerHTML);
            }
            document.getElementById("sum-" + column).innerHTML = sum;
          }
        }
      </script>

      <!-- Lagerbestände und Produktion -->

      <h3>Geben Sie die Planendlagerbestände der Hauptprodukte an.</h3>
      <p>Daraus ergibt sich der Produktionsplan.</p>
      <table id="stock-and-production-table">
        <col />
        <colgroup span="2"></colgroup>
        <colgroup span="2"></colgroup>
        <thead>
          <tr>
            <th rowspan="2">Produkte</th>
            <th colspan="2">Aktuelle Periode</th>
            <th colspan="2">Aktuell +1</th>
            <th colspan="2">Aktuell +2</th>
            <th colspan="2">Aktuell +3</th>
          </tr>
          <tr>
            <th>Lager</th>
            <th>Produktion</th>
            <th>Lager</th>
            <th>Produktion</th>
            <th>Lager</th>
            <th>Produktion</th>
            <th>Lager</th>
            <th>Produktion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>P1</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P1-0"
              type="number"
            >
              110
            </td>
            <td id="production-P1-0">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P1-1"
            >
              100
            </td>
            <td id="production-P1-1">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P1-2"
            >
              150
            </td>
            <td id="production-P1-2">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P1-3"
            >
              200
            </td>
            <td id="production-P1-3">?</td>
          </tr>
          <tr>
            <td>P2</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P2-0"
            >
              200
            </td>
            <td id="production-P2-0">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P2-1"
            >
              150
            </td>
            <td id="production-P2-1">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P2-2"
            >
              250
            </td>
            <td id="production-P2-2">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P2-3"
            >
              100
            </td>
            <td id="production-P2-3">?</td>
          </tr>
          <tr>
            <td>P3</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P3-0"
            >
              150
            </td>
            <td id="production-P3-0">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P3-1"
            >
              50
            </td>
            <td id="production-P3-1">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P3-2"
            >
              100
            </td>
            <td id="production-P3-2">?</td>
            <td
              class="editable"
              class="allow-number"
              contenteditable="true"
              id="stock-P3-3"
            >
              250
            </td>
            <td id="production-P3-3">?</td>
          </tr>
          <tr>
            <td><em>Summe</em></td>
            <td id="sum-stock-0">0</td>
            <td id="sum-production-0">0</td>
            <td id="sum-stock-1">0</td>
            <td id="sum-production-1">0</td>
            <td id="sum-stock-2">0</td>
            <td id="sum-production-2">0</td>
            <td id="sum-stock-3">0</td>
            <td id="sum-production-3">0</td>
          </tr>
        </tbody>
      </table>

      <script>
        calculateProductions();
        calculateStockAndProductionSums();

        document.addEventListener("keyup", function (event) {
          calculateProductions();
          calculateStockAndProductionSums();
        });

        /* Calculate Production Numbers in Table */
        function calculateProductions() {
          var salesTable = document.getElementById("sales-table");
          var stockAndProductionTable = document.getElementById(
            "stock-and-production-table"
          );

          var period = 0;

          for (var column = 2; column < 9; column += 2) {
            var productionNumber = 0;

            for (var row = 2; row < 5; row++) {
              var salesNumber = parseInt(
                salesTable.rows[row - 1].cells[column / 2].innerHTML
              );
              var stockNumber = parseInt(
                stockAndProductionTable.rows[row].cells[column - 1].innerHTML
              );

              productionNumber = salesNumber + stockNumber;
              document.getElementById(
                "production-P" + (row - 1) + "-" + period
              ).innerHTML = productionNumber;
            }
            period++;
          }
        }

        /* Calculate Production and Stock Sums in Table */
        function calculateStockAndProductionSums() {
          var table = document.getElementById("stock-and-production-table");
          var period = 0;

          for (var column = 1; column < 9; column++) {
            var sum = 0;

            for (var row = 2; row < table.rows.length - 1; row++) {
              sum += parseInt(table.rows[row].cells[column].innerHTML);
            }
            if (column % 2 == 1) {
              document.getElementById("sum-stock-" + period).innerHTML = sum;
            } else {
              document.getElementById("sum-production-" + period).innerHTML =
                sum;
              period++;
            }
          }
        }
      </script>
    </div>
    <br class="spacing" />

    <form method="post">
      <button
        class="continue-button"
        type="submit"
        value="Upload"
        onclick="location.href='3_stockPlaner.html'"
      >
        Weiter
        <img
          id="continue-icon"
          src="{{ url_for('static', filename='img/continueArrow.png') }}"
        />
      </button>
    </form>
  </body>
  <footer>
    © IbSys2 Projekt von René Hopfe, David Böhm und Amelie Rempel, 2021
  </footer>
</html>
