<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta
      name="description"
      content="Mit dem Supply Chain Planer werden Bestellungen, Lagerhaltung, die Produktion und der Absatz geplant"
    />
    <title>Stock and production of intermediate products</title>
    <title>Lager und Produktion der Zwischenerzeugnisse</title>
  </head>
  <body>
    <nav>
      {% if lang == "en" %}
      <ul class="progressbar">
        <li class="active">
          <a href="1_lastPeriod.html">Previous Period</a>
        </li>
        <li class="active">
          <a href="2_salesPrediction.html"
            >Sales forecasts and production plan</a
          >
        </li>
        <li class="active">
          <a>Stock and production of intermediate products</a
          >
        </li>
        <li>
          <a
            >Production sequence and splitting</a
          >
        </li>
        <li><a>Orders</a></li>
        <li><a>Capacity</a></li>
      {% else %}
      <ul class="progressbar">
        <li class="active">
          <a href="1_lastPeriod.html">Vorherige Periode</a>
        </li>
        <li class="active">
          <a href="2_salesPrediction.html"
            >Absatzprognosen und Produktionsplan</a
          >
        </li>
        <li class="active">
          <a>Lager und Produktion der Zwischenerzeugnisse</a>
        </li>
        <li>
          <a>Produktionsreihenfolge und Splitting</a>
        </li>
        <li><a>Bestellungen</a></li>
        <li><a>Kapazität</a></li>
        {% endif %}
        
        <div class="dropdown">
          {% if lang == "en" %}
          <button onclick="dropDown()" class="dropbutton">Language</button>
          <div id="dropdown-content" class="dropdown-content">
            <button class="dropdownoption">
              <img
                class="flag"
                src="{{ url_for('static', filename='img/german.png') }}"
              />
              German
            </button>
            <button class="dropdownoption">
              <img
                class="flag"
                src="{{ url_for('static', filename='img/english.png') }}"
              />
              English
            </button>
          </div>
          {% else %}
          <button onclick="dropDown()" class="dropbutton">Sprache</button>
          <div id="dropdown-content" class="dropdown-content">
            <button class="dropdownoption">
              <img
                class="flag"
                src="{{ url_for('static', filename='img/german.png') }}"
              />
              Deutsch
            </button>
            <button class="dropdownoption">
              <img
                class="flag"
                src="{{ url_for('static', filename='img/english.png') }}"
              />
              Englisch
            </button>
          </div>
          {% endif %}
        </div>
      </ul>
      <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function dropDown() {
          document.getElementById("dropdown-content").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
          if (!event.target.matches(".dropbutton")) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains("show")) {
                openDropdown.classList.remove("show");
              }
            }
          }
        };
      </script>
    </nav>

    <div class="big-vertical-container">
      {% if lang == "en" %}
      <h3>
        Enter the planned stock levels of intermediate products for the current period (period {{ period }}).
      </h3>
      <p>This will generate the production plan for the intermediate products.</p>
      {% else %}
      <h3>
        Geben Sie den Planlagerbestand der Zwischenerzeugnisse für die aktuelle
        Periode an.
      </h3>
      <p>Daraus ergibt sich der Produktionsplan der Zwischenerzeugnisse.</p>
      {% endif %}
      
      <form method="post">
        <div
          style="
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
          ">
          {% if lang == "en" %}
          <button class="accent-button">
            <span class="material-icons white-icon"> calculate </span>
            Calculate production
          </button>
          {% else %}
          <button class="accent-button">
            <span class="material-icons white-icon"> calculate </span>
            Produktion berechnen
          </button>
          {% endif %}
        </div>
        <br />
        <!-- TODO: zu übersetzen -->
      <div class="details-button-container">
        <button class="details-button" type="button" onclick="showOtherTable()">
          <span class="material-icons"> article </span>
          <span id="details-button-text">Detaillierte Ansicht</span>
        </button>
      </div>
      <script>
        function showOtherTable() {
          var detailedTable = document.getElementById("detailed-stock-table");
          var undetailedTable = document.getElementById(
            "undetailed-stock-table"
          );
          var detailsButtonText = document.getElementById(
            "details-button-text"
          );

          if (detailsButtonText.innerHTML == "Detaillierte Ansicht") {
            undetailedTable.style.display = "none";
            detailedTable.style.display = "block";
            detailsButtonText.textContent = "Minimierte Ansicht";
          } else {
            detailedTable.style.display = "none";
            undetailedTable.style.display = "block";
            detailsButtonText.textContent = "Detaillierte Ansicht";
          }
        }
      </script>
      <br />
        <div class="vertical-scrollable-table-wrapper horizontal-scrollable-table-wrapper" style="max-width: 1200px">
          <table id="undetailed-stock-table">
            <thead>
              <tr>
                {% if lang == "en" %}
                <th>Item</th>
                <th>Planned stock level</th>
                <th>Production</th>
                {% else %}
                <th>Artikel</th>
                <th>Planlagerbestand</th>
                <th>Produktion</th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="table-body">
              <tr>
                <td name="article">P1</td>
                <td name="stock_P1">{{ stock_data["P1"] }}</td>
                <td name="production_P1">{{ prod_data["P1"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">P2</td>
                <td name="stock_P2">{{ stock_data["P2"] }}</td>
                <td name="production_P2">{{ prod_data["P2"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">P3</td>
                <td name="stock_P3">{{ stock_data["P3"] }}</td>
                <td name="production_P3">{{ prod_data["P3"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E4</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E4"
                    value="{{ stock_data['E4'] }}"
                  />
                </td>
                <td name="production_E4">{{ prod_data["E4"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E5</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E5"
                    value="{{ stock_data['E5'] }}"
                  />
                </td>
                <td name="production_E5">{{ prod_data["E5"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E6</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E6"
                    value="{{ stock_data['E6'] }}"
                  />
                </td>
                <td name="production_E6">{{ prod_data["E6"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E7</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E7"
                    value="{{ stock_data['E7'] }}"
                  />
                </td>
                <td name="production_E7">{{ prod_data["E7"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E8</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E8"
                    value="{{ stock_data['E8'] }}"
                  />
                </td>
                <td name="production_E8">{{ prod_data["E8"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E9</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E9"
                    value="{{ stock_data['E9'] }}"
                  />
                </td>
                <td name="production_E9">{{ prod_data["E9"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E10</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E10"
                    value="{{ stock_data['E10'] }}"
                  />
                </td>
                <td name="production_E10">{{ prod_data["E10"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E11</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E11"
                    value="{{ stock_data['E11'] }}"
                  />
                </td>
                <td name="production_E11">{{ prod_data["E11"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E12</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E12"
                    value="{{ stock_data['E12'] }}"
                  />
                </td>
                <td name="production_E12">{{ prod_data["E12"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E13</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E13"
                    value="{{ stock_data['E13'] }}"
                  />
                </td>
                <td name="production_E13">{{ prod_data["E13"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E14</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E14"
                    value="{{ stock_data['E14'] }}"
                  />
                </td>
                <td name="production_E14">{{ prod_data["E14"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E15</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E15"
                    value="{{ stock_data['E15'] }}"
                  />
                </td>
                <td name="production_E15">{{ prod_data["E15"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E16</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E16"
                    value="{{ stock_data['E16'] }}"
                  />
                </td>
                <td name="production_E16">{{ prod_data["E16"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E17</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E17"
                    value="{{ stock_data['E17'] }}"
                  />
                </td>
                <td name="production_E17">{{ prod_data["E17"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E18</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E18"
                    value="{{ stock_data['E18'] }}"
                  />
                </td>
                <td name="production_E18">{{ prod_data["E18"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E19</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E19"
                    value="{{ stock_data['E19'] }}"
                  />
                </td>
                <td name="production_E19">{{ prod_data["E19"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E20</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E20"
                    value="{{ stock_data['E20'] }}"
                  />
                </td>
                <td name="production_E20">{{ prod_data["E20"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E26</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E26"
                    value="{{ stock_data['E26'] }}"
                  />
                </td>
                <td name="production_E26">{{ prod_data["E26"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E29</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E29"
                    value="{{ stock_data['E29'] }}"
                  />
                </td>
                <td name="production_E29">{{ prod_data["E29"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E30</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E30"
                    value="{{ stock_data['E30'] }}"
                  />
                </td>
                <td name="production_E30">{{ prod_data["E30"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E31</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E31"
                    value="{{ stock_data['E31'] }}"
                  />
                </td>
                <td name="production_E31">{{ prod_data["E31"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E49</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E49"
                    value="{{ stock_data['E49'] }}"
                  />
                </td>
                <td name="production_E49">{{ prod_data["E49"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E50</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E50"
                    value="{{ stock_data['E50'] }}"
                  />
                </td>
                <td name="production_E50">{{ prod_data["E50"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E51</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E51"
                    value="{{ stock_data['E51'] }}"
                  />
                </td>
                <td name="production_E51">{{ prod_data["E51"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E54</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E54"
                    value="{{ stock_data['E54'] }}"
                  />
                </td>
                <td name="production_E54">{{ prod_data["E54"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E55</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E55"
                    value="{{ stock_data['E55'] }}"
                  />
                </td>
                <td name="production_E55">{{ prod_data["E55"]["sum"] }}</td>
              </tr>
              <tr>
                <td name="article">E56</td>
                <td class="editable">
                  <input
                    type="number"
                    name="stock_E56"
                    value="{{ stock_data['E56'] }}"
                  />
                </td>
                <td name="production_E56">{{ prod_data["E56"]["sum"] }}</td>
              </tr>
            </tbody>
          </table>

          <!-- TODO: Zu übersetzen -->
          <table id="detailed-stock-table" style="display: none">
            <thead>
              {% if lang == "en" %}
              <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="21">Bill of Materials processing</th>
                <th colspan="6">
                  Additional factors that go into the quantity of parts to be produced.
                </th>
                <th rowspan="2">Total production</th>
              </tr>
              {% else %}
              <tr>
                <th colspan="2" rowspan="2"></th>
                <th colspan="21">Stücklistenauflösung</th>
                <th colspan="6">
                  Zusätzliche Faktoren, die in die Menge der zu produzierenden
                  Teile einfließen.
                </th>
                <th rowspan="2">Gesamt-produktion</th>
              </tr>
              {% endif %}
              <tr>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>E4</th>
                <th>E5</th>
                <th>E6</th>
                <th>E10</th>
                <th>E11</th>
                <th>E12</th>
                <th>E16</th>
                <th>E17</th>
                <th>E26</th>
                <th>E29</th>
                <th>E30</th>
                <th>E31</th>
                <th>E49</th>
                <th>E50</th>
                <th>E51</th>
                <th>E54</th>
                <th>E55</th>
                <th>E56</th>
                {% if lang == "en" %}
                <th>Planlagerbestand</th>
                <th>Lagerbestand</th>
                <th>Bearbeitung</th>
                <th>Warteschlange</th>
                <th>Direktkäufe</th>
                <th>Direktverkäufe</th>
                {% else %}
                <th>Planlagerbestand</th>
                <th>Lagerbestand</th>
                <th>Bearbeitung</th>
                <th>Warteschlange</th>
                <th>Direktkäufe</th>
                <th>Direktverkäufe</th>
                {% endif %}
              </tr>
            </thead>
            <tbody id="detailed-table-body">
              <tr>
                {% if lang == "en" %}
                <th
                  class="sticky-column sticky-column-header"
                  rowspan="32"
                  style="writing-mode: vertical-rl; text-align: left"
                >
                  Products that we produce
                </th>
                {% else %}
                <th
                  class="sticky-column sticky-column-header"
                  rowspan="32"
                  style="writing-mode: vertical-rl; text-align: left"
                >
                  Produkte, die wir produzieren
                </th>
                {% endif %}
              </tr>
              {% for article in range(0, len) %}
              <tr>
                <th class="sticky-column sticky-column-header" style="left: 42px;">
                  {{ articles[article] }}
                </th>
                {% for column in range(0, len_h) %}
                <td name="{{ articles[article] + 'needed_for_' + headers[column] }}">{{ 0 }}</td>
                {% endfor %}
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <script>
            /*
            const articleList = [
            "P1",
            "P2",
            "P3",
            "E4",
            "E5",
            "E6",
            "E7",
            "E8",
            "E9",
            "E10",
            "E11",
            "E12",
            "E13",
            "E14",
            "E15",
            "E16",
            "E17",
            "E18",
            "E19",
            "E20",
            "E26",
            "E29",
            "E30",
            "E31",
            "E49",
            "E50",
            "E51",
            "E54",
            "E55",
            "E56",
          ];

          // Fill-Table with Rows
          var detailedTableBody = document.getElementById("detailed-table-body");

          for (var i = 0; i < articleList.length; i++) {
            detailedTableBody.innerHTML +=
              '<tr><th class="sticky-column sticky-column-header" style="left: 42px;">' +
              articleList[i] +
              '</th><td name="need_of_P1"></td><td name="need_of_P2"></td><td name="need_of_P3"></td><td name="need_of_E4"></td><td name="need_of_E5"></td><td name="need_of_E6"></td><td name="need_of_E7"></td><td name="need_of_E8"></td><td name="need_of_E9"></td><td name="need_of_E10"></td><td name="need_of_E11"></td><td name="need_of_E12"></td><td name="need_of_E13"></td><td name="need_of_E14"></td><td name="need_of_E14"></td><td name="need_of_E16"></td><td name="need_of_E17"></td><td name="need_of_E18"></td><td name="need_of_E19"></td><td name="need_of_E20"></td><td name="need_of_E26"></td><td name="need_of_E29"></td><td name="need_of_E30"></td><td name="need_of_E31"></td><td name="need_of_E49"></td><td name="need_of_E50"></td><td name="need_of_E51"></td><td name="need_of_E54"></td><td name="need_of_E55"></td><td name="need_of_E56"></td><td class="editable"><input name="planned_stock_' +
              articleList[i] +
              '" type="number" value="100" /></td><td name="current_stock"></td><td name="in_work"></td><td name="waiting"></td><td name="direct_buy"></td><td name="direct_sell"></td><td name="total_production"></td></tr>';
          }
          */
        </script>
        </div>
      </form>
    </div>

    {% if calculated %}
    {% if lang == "en" %}
    <button
      class="continue-button"
      type="submit"
      value="Upload"
      onclick="location.href='4_productionSequence.html'"
    >
      Continue
      <img id="continue-icon" src="{{ url_for('static', filename='img/continueArrow.png') }}" />
    </button>
    {% else %}
    <button
      class="continue-button"
      type="submit"
      value="Upload"
      onclick="location.href='4_productionSequence.html'"
    >
      Weiter
      <img
        id="continue-icon"
        src="{{ url_for('static', filename='img/continueArrow.png') }}"
      />
    </button>
    {% endif %}
    {% endif %}
  </body>
  {% if lang == "en" %}
  <footer>
    © IbSys2 Project by René Hopfe, David Böhm and Amelie Rempel, 2021
  </footer>
  {% else %}
  <footer>
    © IbSys2 Projekt von René Hopfe, David Böhm und Amelie Rempel, 2021
  </footer>
  {% endif %}
</html>
