<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta
      name="description"
      content="Mit dem Supply Chain Planer werden Bestellungen, Lagerhaltung, die Produktion und der Absatz geplant"
    />
    <title>Stock Planer</title>
  </head>
  <body>
    <nav>
      <ul class="progressbar">
        <li class="active">
          <a href="1_lastPeriod.html">Vorherige Periode</a>
        </li>
        <li class="active">
          <a href="2_salesPrediction.html"
            >Absatz-Prognosen und Produktionsplan</a
          >
        </li>
        <li class="active">
          <a href="3_stockPlaner.html"
            >Lager und Produktion der Zwischenerzeugnisse</a
          >
        </li>
        <li>
          <a href="4_productionSequence.html"
            >Produktionsreihenfolge und Splitting</a
          >
        </li>
        <li><a href="5_orders_purchase.html">Bestellungen</a></li>
        <li><a href="6_capacity.html">Kapazität</a></li>
        <li><a href="7_finances.html">Finanzen</a></li>
      </ul>
    </nav>

    <div class="container">
      <h3>
        Geben Sie den Planlagerbestand der Zwischenerzeugnisse für die aktuelle
        Periode (Periode {{ period }}) an.
      </h3>
      <p>Daraus ergibt sich der Produktionsplan der Zwischenerzeugnisse.</p>
      <br />
      <div class="vertical-scrollable-table-wrapper">
        <table id="stock-table">
          <thead>
            <tr>
              <th>Artikel</th>
              <th>Planlagerbestand</th>
              <th>Produktion</th>
            </tr>
          </thead>
          <tbody id="table-body"></tbody>
        </table>
      </div>

      <script>
        /* Pseudo-Artikel */
        var body = document.getElementById("table-body");

        /* Array mit Artikeln */
        const articleList = [
            "E4",
            "E5",
            "E6",
            "E7",
            "E8",
            "E9",
            "E10",
            "E11",
            "E12",
            "E13",
            "E14",
            "E15",
            "E16",
            "E17",
            "E18",
            "E19",
            "E20",
            "E26",
            "E29",
            "E30",
            "E31",
            "E49",
            "E50",
            "E51",
            "E54",
            "E55",
            "E56"
          ];

        for (var count = 0; count < articleList.length; count++) {
          body.innerHTML +=
            `<tr><td name="article">${articleList[count]}</td><td class="editable" contenteditable="true" name="stock_${articleList[count]}">150</td><td name="production">?</td></tr>`;
        }
      </script>
    </div>

    <form method="post">
      <button
        class="continue-button"
        type="submit"
        value="Upload"
        onclick="location.href='4_productionSequence.html'"
      >
        Weiter
        <img id="continue-icon" src="{{ url_for('static', filename='img/continueArrow.png') }}" />
      </button>
    </form>
  </body>
  <footer>
    © IbSys2 Projekt von René Hopfe, David Böhm und Amelie Rempel, 2021
  </footer>
</html>
