<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <meta
      name="description"
      content="Mit dem Supply Chain Planer werden Bestellungen, Lagerhaltung, die Produktion und der Absatz geplant"
    />
    {% if lang == "en" %}
    <title>Produktionsreihenfolge und Splitting</title>
    {% else %}
    <title>Production sequence and splitting</title>
    {% endif %}
  </head>
  <body>
    <nav>
      {% if lang == "en" %}
      <ul class="progressbar">
        <li class="active">
          <a href="1_lastPeriod.html">Previous Period</a>
        </li>
        <li class="active">
          <a href="2_salesPrediction.html"
            >Sales forecasts and production plan</a
          >
        </li>
        <li class="active">
          <a href="3_stockPlaner.html"
            >Stock and production of intermediate products</a
          >
        </li>
        <li class="active">
          <a>Production sequence and splitting</a>
        </li>
        <li><a>Orders</a></li>
        <li><a>Capacity</a></li>
      </ul>
      {% else %}
      <ul class="progressbar">
        <li class="active">
          <a href="1_lastPeriod.html">Vorherige Periode</a>
        </li>
        <li class="active">
          <a href="2_salesPrediction.html"
            >Absatz-Prognosen und Produktionsplan</a
          >
        </li>
        <li class="active">
          <a href="3_stockPlaner.html"
            >Lager und Produktion der Zwischenerzeugnisse</a
          >
        </li>
        <li class="active">
          <a>Produktionsreihenfolge und Splitting</a>
        </li>
        <li><a>Bestellungen</a></li>
        <li><a>Kapazität</a></li>
        {% endif %}

        {% if lang == "en" %}
        <div class="dropdown">
          <button onclick="dropDown()" class="dropbutton">Language</button>
          <div id="dropdown-content" class="dropdown-content">
            <button class="dropdownoption">
              <img
                class="flag"
                src="{{ url_for('static', filename='img/german.png') }}"
              />
              German
            </button>
            <button class="dropdownoption">
              <img
                class="flag"
                src="{{ url_for('static', filename='img/english.png') }}"
              />
              English
            </button>
          </div>
        </div>
        {% else %}
        <div class="dropdown">
          <button onclick="dropDown()" class="dropbutton">Sprache</button>
          <div id="dropdown-content" class="dropdown-content">
            <button class="dropdownoption">
              <img
                class="flag"
                src="{{ url_for('static', filename='img/german.png') }}"
              />
              Deutsch
            </button>
            <button class="dropdownoption">
              <img
                class="flag"
                src="{{ url_for('static', filename='img/english.png') }}"
              />
              Englisch
            </button>
          </div>
        </div>
        {% endif %}
      </ul>
      <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function dropDown() {
          document.getElementById("dropdown-content").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
          if (!event.target.matches(".dropbutton")) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains("show")) {
                openDropdown.classList.remove("show");
              }
            }
          }
        };
      </script>
    </nav>

    <div class="big-horizontal-container starts-below-navbar">
      <div class="centered-container">
        {% if lang == "en" %}
        <h3>
          Put the orders in the production sequence you wish and enter the quantity to be produced.
        </h3>
        <p>
          Whichever is first is produced first (from left to right).
          <br />
          You can also add new cells via the "plus" sign to split a job.
        </p>
        {% else %}
        <h3>
          Bringen Sie die Aufträge in Ihre gewünschte Produktionsreihenfolge und
          geben Sie die zu produzierende Anzahl ein.
        </h3>
        <p>
          Die Aufträge werden gemäß der Reihenfolge (von links nach rechts)
          produziert.
          <br />
          Sie können auch neue Zellen über das "Plus"-Zeichen hinzufügen, um
          einen Auftrag zu splitten.
        </p>
        {% endif %}
      </div>

      <div class="centered-container">
        <form class="new-column-form">
          {% if lang == "en" %}
          <span>New production job<em>(splitting)</em> :</span>
          <input
            type="text"
            id="article-name"
            name="article-name"
            placeholder="item name"
          />
          {% else %}
          <span>Neuer Produktionsauftrag <em>(Splitting)</em> :</span>
          <input
            type="text"
            id="article-name"
            name="article-name"
            placeholder="Artikelname"
          />
          {% endif %}
          {% if lang == "en" %}
          <button type="button" id="addColumnButton" class="accent-button">
            <span class="material-icons white-icon"> add </span> Add new column
          </button>
          {% else %}
          <button type="button" id="addColumnButton" class="accent-button">
            <span class="material-icons white-icon"> add </span> Neue Spalte
            hinzufügen
          </button>
          {% endif %}
        </form>
      </div>

      {% if error == "sum" %}
      {% if lang == "en" %}
      <p class="error">
        The quantities of the split products must correspond in total to the initial quantity!
      </p>
      {% endif %} {% if error == "keys" %}
      <p class="error">
        No products may be left out of the production planning!
      </p>
      {% endif %} {% if error == "limit" %}
      <p class="error">
        A maximum of 60 production orders may be created!
      </p>
      {% else %}
      <p class="error">
        Die Mengen der aufgeteilten Produkte müssen in Summe der Ausgangsmenge
        entsprechen!
      </p>
      {% endif %} {% if error == "keys" %}
      <p class="error">
        Es dürfen keine Produkte aus der Produktionsplanung ausgelassen werden!
      </p>
      {% endif %} {% if error == "limit" %}
      <p class="error">
        Es dürfen maximal 60 Produktionsaufträge erstellt werden!
      </p>
      {% endif %}
      {% endif %}

      <form method="post">
        <table class="table-container">
          <tbody>
            <tr>
              <td class="td-container">
                <table id="table-header">
                  <thead>
                    <tr id="empty-header">
                      <th></th>
                    </tr>
                    <tr>
                      {% if lang == "en" %}
                      <th>Item</th>
                      {% else %}
                      <th>Artikel</th>
                      {% endif %}
                    </tr>
                    <tr>
                      {% if lang == "en" %}
                      <th>Amount</th>
                      {% else %}
                      <th>Anzahl</th>
                      {% endif %}
                    </tr>
                    <tr>
                      <th id="last-header"></th>
                    </tr>
                  </thead>
                </table>
              </td>
              <td class="td-container">
                <table id="table" class="draggable-table">
                  <thead>
                    <tr id="drag-handles"></tr>
                  </thead>
                  <tbody>
                    <tr id="articles">
                      {% for article in range(0, len) %}
                      <td>{{ sequence[article] }}</td>
                      {% endfor %}
                    </tr>
                    <tr id="production-numbers">
                      {% for article in range(0, len) %}
                      <td class="editable">
                        <input
                          type="number"
                          name="{{ sequence[article] }}"
                          value="{{ production[sequence[article]]['sum'] }}"
                        />
                      </td>
                      <!--
                      <td data-type="number" class="editable" name="{{ 'production_'+sequence[article] }}" contenteditable="true">{{ production[sequence[article]]["sum"] }}</td>
                      -->
                      {% endfor %}
                    </tr>
                    <tr id="delete-buttons"></tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <div hidden>
          <input type="text" name="results_list" value="{{ results_list }}" />
        </div>

        {% if lang == "en" %}
        <button
          class="continue-button"
          type="submit"
          value="Upload"
          onclick="update_results()"
        >
          Continue
          <img
            id="continue-icon"
            src="{{ url_for('static', filename='img/continueArrow.png') }}"
          />
        </button>
        {% else %}
        <button
          class="continue-button"
          type="submit"
          value="Upload"
          onclick="update_results()"
        >
          Weiter
          <img
            id="continue-icon"
            src="{{ url_for('static', filename='img/continueArrow.png') }}"
          />
        </button>
        {% endif %}
      </form>

      <script>
        /* Tabelle mit Daten füllen */
        var tableColumns =
          document.getElementById("table").rows[1].cells.length;

        // Drag-Handles
        var dragHandlesRow = document.getElementById("drag-handles");
        for (var count = 0; count < tableColumns; count++) {
          dragHandlesRow.innerHTML +=
            '<th><span class="material-icons grey-icon">drag_indicator</span></th>';
        }

        /*
        // Produktionsanzahl
        var productionNumbersRow =
          document.getElementById("production-numbers");
        for (var count = 0; count < tableColumns; count++) {
          productionNumbersRow.innerHTML +=
            '<td data-type="number" class="editable" contenteditable="true">100</td>';
        }
        */

        // Delete-Button-Cells
        var deleteRow = document.getElementById("delete-buttons");
        for (var count = 0; count < tableColumns; count++) {
          deleteRow.innerHTML += "<td></td>";
        }

        // Müssen aktualisiert werden, wenn die Spalten umhergeschoben werden,
        // damit falls welche gelöscht werden auch die richtigen gelöscht werden
        function remakeDeleteButtons() {
          const table = document.getElementById("table");

          //Müssen zuerst "geleert" werden
          document
            .getElementById("delete-buttons")
            .childNodes.forEach((td, i) => (td.innerHTML = ``));
          document
            .getElementById("delete-buttons")
            .childNodes.forEach(
              (td, i) =>
                (td.innerHTML += ` <sup><a href="#" data-idx="${i}" class="del" ><span class="material-icons grey-icon delete-icon"> delete </span></a></sup>`)
            );
        }

        // Liste mit Resultaten aktualisieren
        function update_results() {
          var tableColumns =
            document.getElementById("table").rows[1].cells.length;
          var articleRow = document.getElementById("table").rows[1].cells;
          var amountRow = document.getElementById("table").rows[2].cells;
          var results = [];

          for (var count = 0; count < tableColumns; count++) {
            console.log(
              `${articleRow[count].innerHTML}; ${amountRow[count].children[0].value}`
            );
            results.push([
              articleRow[count].innerHTML,
              amountRow[count].children[0].value,
            ]);
          }

          document.getElementsByName("results_list")[0].value =
            results.toString();
          console.log(document.getElementsByName("results_list")[0].value);
        }

        /* add Column Functionality */
        const articleList = [
          "E4",
          "E5",
          "E6",
          "E7",
          "E8",
          "E9",
          "E10",
          "E11",
          "E12",
          "E13",
          "E14",
          "E15",
          "E16",
          "E17",
          "E18",
          "E19",
          "E20",
          "E26",
          "E29",
          "E30",
          "E31",
          "E49",
          "E50",
          "E51",
          "E54",
          "E55",
          "E56",
          "P1",
          "P2",
          "P3",
        ];

        function addColumn() {
          var listOfRows = document.querySelectorAll("#table tr");
          const articleName = document.getElementById("article-name").value;

          if (articleName == "" || articleName == undefined) {
            alert("Geben Sie einen Artikel an.");
          } else if (!articleList.includes(articleName)) {
            alert("Der angegebene Artikel existiert nicht.");
            document.getElementById("article-name").value = "";
          } else {
            document.getElementById("drag-handles").innerHTML +=
              '<th class="draggable"><span class="material-icons grey-icon"> drag_indicator</span></th>';
            document.getElementById("articles").innerHTML +=
              "<td>" + articleName + "</td>";
            document.getElementById(
              "production-numbers"
            ).innerHTML += `<td class="editable"><input type="number" name="${articleName}" value=""></td>`;

            var table = document.getElementById("table");
            var newColumnNumber =
              document.getElementById("delete-buttons").childNodes.length;
            document.getElementById("delete-buttons").innerHTML +=
              '<td><sup><a href="#" data-idx="' +
              newColumnNumber +
              '" class="del" ><span class="material-icons grey-icon delete-icon"> delete </span></a></sup></td>';
            document.getElementById("article-name").value = "";
            activateDragAndDrop();
          }
        }

        document.getElementById("addColumnButton").onclick = addColumn;

        window.addEventListener("DOMContentLoaded", remakeDeleteButtons());

        table.addEventListener("click", function (e) {
          const target = e.target.closest("a");
          if (target && target.classList.contains("del")) {
            const idx = target.dataset.idx;
            [...table.rows].forEach((row) => row.cells[idx].remove());
          }
          //Remake delete Buttons (for the idx)
          remakeDeleteButtons();
        });
      </script>
    </div>
  </body>
  <script>
    /* Drag and Drop functionality */
    document.addEventListener("DOMContentLoaded", activateDragAndDrop());

    function activateDragAndDrop() {
      const table = document.getElementById("table");

      let draggingEle;
      let draggingColumnIndex;
      let placeholder;
      let list;
      let isDraggingStarted = false;

      // The current position of mouse relative to the dragging element
      let x = 0;
      let y = 0;

      // Swap two nodes
      const swap = function (nodeA, nodeB) {
        const parentA = nodeA.parentNode;
        const siblingA =
          nodeA.nextSibling === nodeB ? nodeA : nodeA.nextSibling;

        // Move `nodeA` to before the `nodeB`
        nodeB.parentNode.insertBefore(nodeA, nodeB);

        // Move `nodeB` to before the sibling of `nodeA`
        parentA.insertBefore(nodeB, siblingA);
      };

      // Check if `nodeA` is on the left of `nodeB`
      const isOnLeft = function (nodeA, nodeB) {
        // Get the bounding rectangle of nodes
        const rectA = nodeA.getBoundingClientRect();
        const rectB = nodeB.getBoundingClientRect();

        return rectA.left + rectA.width / 2 < rectB.left + rectB.width / 2;
      };

      const cloneTable = function () {
        const rect = table.getBoundingClientRect();

        list = document.createElement("div");
        list.classList.add("clone-list");
        list.style.position = "absolute";
        //list.style.left = `${rect.left}px`;
        //list.style.top = `${rect.top}px`;
        table.parentNode.insertBefore(list, table);

        // Hide the original table
        table.style.visibility = "hidden";

        // Get all cells
        const originalCells = [].slice.call(table.querySelectorAll("tbody td"));

        const originalHeaderCells = [].slice.call(table.querySelectorAll("th"));
        const numColumns = originalHeaderCells.length;

        // Loop through the header cells
        originalHeaderCells.forEach(function (headerCell, headerIndex) {
          const width = parseInt(window.getComputedStyle(headerCell).width);

          // Create a new table from given row
          const item = document.createElement("div");
          item.classList.add("draggable");

          const newTable = document.createElement("table");
          newTable.setAttribute("class", "clone-table");
          newTable.style.width = `${width}px`;

          // Header
          const th = headerCell.cloneNode(true);
          let newRow = document.createElement("tr");
          newRow.appendChild(th);
          newTable.appendChild(newRow);

          const cells = originalCells.filter(function (c, idx) {
            return (idx - headerIndex) % numColumns === 0;
          });
          cells.forEach(function (cell) {
            const newCell = cell.cloneNode(true);
            newCell.style.width = `${width}px`;
            newRow = document.createElement("tr");
            newRow.appendChild(newCell);
            newTable.appendChild(newRow);
          });

          item.appendChild(newTable);
          list.appendChild(item);
        });
      };

      const mouseDownHandler = function (e) {
        draggingColumnIndex = [].slice
          .call(table.querySelectorAll("th"))
          .indexOf(e.target);

        // Determine the mouse position
        x = e.clientX - e.target.offsetLeft;
        y = e.clientY - e.target.offsetTop;

        // Attach the listeners to `document`
        document.addEventListener("mousemove", mouseMoveHandler);
        document.addEventListener("mouseup", mouseUpHandler);
      };

      const mouseMoveHandler = function (e) {
        if (!isDraggingStarted) {
          isDraggingStarted = true;

          cloneTable();

          draggingEle = [].slice.call(list.children)[draggingColumnIndex];
          draggingEle.classList.add("dragging");

          // Let the placeholder take the height of dragging element
          // So the next element won't move to the left or right
          // to fill the dragging element space
          placeholder = document.createElement("div");
          placeholder.classList.add("placeholder");
          draggingEle.parentNode.insertBefore(
            placeholder,
            draggingEle.nextSibling
          );
          placeholder.style.width = `${draggingEle.offsetWidth}px`;
        }

        // Set position for dragging element
        draggingEle.style.position = "absolute";
        draggingEle.style.top = `${draggingEle.offsetTop + e.clientY - y}px`;
        draggingEle.style.left = `${draggingEle.offsetLeft + e.clientX - x}px`;

        // Reassign the position of mouse
        x = e.clientX;
        y = e.clientY;

        // The current order
        // prevEle
        // draggingEle
        // placeholder
        // nextEle
        const prevEle = draggingEle.previousElementSibling;
        const nextEle = placeholder.nextElementSibling;

        // // The dragging element is above the previous element
        // // User moves the dragging element to the left
        if (prevEle && isOnLeft(draggingEle, prevEle)) {
          // The current order    -> The new order
          // prevEle              -> placeholder
          // draggingEle          -> draggingEle
          // placeholder          -> prevEle
          swap(placeholder, draggingEle);
          swap(placeholder, prevEle);
          return;
        }

        // The dragging element is below the next element
        // User moves the dragging element to the bottom
        if (nextEle && isOnLeft(nextEle, draggingEle)) {
          // The current order    -> The new order
          // draggingEle          -> nextEle
          // placeholder          -> placeholder
          // nextEle              -> draggingEle
          swap(nextEle, placeholder);
          swap(nextEle, draggingEle);
        }
      };

      const mouseUpHandler = function () {
        // // Remove the placeholder
        placeholder && placeholder.parentNode.removeChild(placeholder);

        draggingEle.classList.remove("dragging");
        draggingEle.style.removeProperty("top");
        draggingEle.style.removeProperty("left");
        draggingEle.style.removeProperty("position");

        // Get the end index
        const endColumnIndex = [].slice
          .call(list.children)
          .indexOf(draggingEle);

        isDraggingStarted = false;

        // Remove the `list` element
        list.parentNode.removeChild(list);

        // Move the dragged column to `endColumnIndex`
        table.querySelectorAll("tr").forEach(function (row) {
          const cells = [].slice.call(row.querySelectorAll("th, td"));
          draggingColumnIndex > endColumnIndex
            ? cells[endColumnIndex].parentNode.insertBefore(
                cells[draggingColumnIndex],
                cells[endColumnIndex]
              )
            : cells[endColumnIndex].parentNode.insertBefore(
                cells[draggingColumnIndex],
                cells[endColumnIndex].nextSibling
              );
        });

        // Bring back the table
        table.style.removeProperty("visibility");

        // Remove the handlers of `mousemove` and `mouseup`
        document.removeEventListener("mousemove", mouseMoveHandler);
        document.removeEventListener("mouseup", mouseUpHandler);

        // Reindex the delete Buttons
        remakeDeleteButtons();
      };

      table.querySelectorAll("th").forEach(function (headerCell) {
        headerCell.classList.add("draggable");
        headerCell.addEventListener("mousedown", mouseDownHandler);
      });
    }
  </script>
  {% if lang == "en" %}
  <footer>
    © IbSys2 Project by René Hopfe, David Böhm and Amelie Rempel, 2021
  </footer>
  {% else %}
  <footer>
    © IbSys2 Projekt von René Hopfe, David Böhm und Amelie Rempel, 2021
  </footer>
  {% endif %}
</html>
