@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* 

Inhalt dieser css-Datei:

- TITEL
- CONTAINER
- BILDER
- BUTTONS
- TABELLEN
- HOMEPAGE
- PROGRESSBAR
- VORHERIGE PERIODE SEITE
- NAVIGATIONSLEISTE 
- TABWIDGET
- WARNING
- FOOTER

*/

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4d4d4d;
  text-align: left;
}

p {
  font-size: 16px;
  color: #a49e9e;
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-top: 10px;
}

span {
  font-weight: bold;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #707070;
  line-height: 1.5em;
  margin-bottom: 20px;
  margin-top: 10px;
}

.error {
  color: #eb6157;
  text-align: center;
}

.success {
  color: rgb(103, 155, 103);
  text-align: center;
}

.info {
  color: rgb(155, 152, 103);
  text-align: center;
}

input[type="text"] {
  font-size: 16px;
  margin: 20px;
  padding: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #a49e9e;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="text"]:focus {
  background-color: #efefef;
}

input[type="number"] {
  font-size: 16px;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #dce4e9;
}

input[type="number"]:focus {
  outline: 1px solid #707070;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* CONTAINER ------------------------------------------------------- */

/* Kleiner Webpage-Inhalt in der Mitte zentriert */
.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 1000px;
  text-align: center;
  max-height: 600px;
  /*overflow-y: scroll;*/
}

.centered-container {
  margin: 0 auto;
  left: 50%;
  max-width: 1000px;
  text-align: center;
  max-height: 600px;
  margin-bottom: 60px;
}

.centerd-big-elements-container {
  margin-top: 170px;
  width: 100%;
  height: 100%;
}

.big-vertical-container {
  margin: 0;
  margin-top: 700px;
  padding-bottom: 200px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  text-align: center;
  /*overflow-y: scroll;*/
}

.big-horizontal-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 100%;
  text-align: center;
  /*overflow-y: scroll;*/
}

.starts-below-navbar {
  top: auto;
  margin-top: 500px;
  min-height: 700px;
}

.page-divider {
  margin: 0 auto;
  box-shadow: none;
  margin-bottom: 150px;
}

.page-division {
  border: none;
  width: 0;
  text-align: start;
}

.delete-box {
  border: 1px solid #707070;
  content: "";
  padding: 20px;
}

.spacing {
  height: 50px;
}

/* TITEL -----------------------------------------------*/

h1 {
  color: #707070;
  font-size: 4em;
  text-align: center;
  margin-bottom: 15px;
}

h2 {
  color: #4d4d4d;
  margin-top: 30px;
  margin-bottom: 20px;
}

h3 {
  color: #4d4d4d;
  margin-top: 50px;
  margin-bottom: 20px;
}

.centered-header {
  text-align: center;
}

/* BILDER -----------------------------------------------*/

.material-icons {
  user-select: none;
  pointer-events: none;
  vertical-align: middle;
}

.white-icon {
  color: white;
}

.grey-icon {
  color: #a79e9e;
}

#file-upload {
  height: 200px;
  margin: 15px;
}

.drag-handle {
  height: 25px;
}

#warning-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTONS -----------------------------------------------*/

button {
  cursor: pointer;
}

.accent-button {
  border: none;
  border-radius: 50px;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(124, 202, 214, 1) 0%,
    rgba(82, 119, 175, 1) 100%
  );
  padding: 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button-icon {
  margin-right: 5px;
}

.accent-button:hover {
  background: linear-gradient(
    180deg,
    rgba(115, 185, 196, 1) 0%,
    rgba(61, 93, 144, 1) 100%
  );
}

.continue-button {
  position: fixed;
  bottom: 60px;
  right: 3%;
  border: none;
  border-radius: 50px;
  padding: 10px;
  color: #707070;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.747);
  box-shadow: 0px 0px 50px #ffffff;
  font-size: 30px;
  cursor: pointer;
}

.continue-button:hover {
  color: #525252;
}

#continue-icon {
  height: 60px;
  vertical-align: middle;
  margin: 10px;
}

.finish-button {
  position: absolute;
  bottom: 7%;
  right: 3%;
  border: 2px solid #707070;
  border-radius: 50px;
  padding: 15px 25px;
  color: #707070;
  text-align: center;
  background-color: white;
  font-size: 30px;
  cursor: pointer;
  background: none;
}

.finish-button:hover {
  color: #525252;
  border: 2px solid #525252;
  background: none;
}

.delete-button {
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.delete-button span:hover {
  margin: 0;
  border: none;
  background: none;
  color: #3d3d3d;
}

.details-button {
  border-radius: 50px;
  border: none;
  padding: 10px;
  background-color: white;
  box-shadow: 3px 0px 30px #d3d2d2;
}

.details-button-container {
  height: 50px;
  text-align: center;
}

#return-icon {
  vertical-align: middle;
  height: 30px;
  margin: 0;
}

.return-button {
  border: none;
  background: none;
  color: #707070;
  font-weight: bold;
  margin: 0;
}

.return-button table {
  box-shadow: none;
  max-height: min-content;
}

.return-button table td {
  border: none;
  padding-right: 10px;
  width: auto;
  text-align: left;
}

.return-button td:hover {
  color: #525252;
}

.inline-block-child {
  display: flex;
}

/* TABELLEN -----------------------------------------------*/

table {
  background-color: #ffffff;
  border-collapse: collapse;
  box-shadow: 3px 0px 30px #d3d2d2;
}

table td {
  text-align: center;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 20px 0px;
  width: 200px;
}

table td:first-child {
  border-left: none;
}

table th {
  text-align: center;
  border-left: 1px solid #ccc;
  text-align: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ccc;
}

table th:first-child {
  border-left: none;
  border-right: 1px solid #ccc;
}

table tbody td {
  color: #707070;
}

table thead {
  background: #efefef;
  background: -moz-linear-gradient(top, #f3f3f3 0%, #f0f0f0 66%, #efefef 100%);
  background: -webkit-linear-gradient(
    top,
    #f3f3f3 0%,
    #f0f0f0 66%,
    #efefef 100%
  );
  background: linear-gradient(to bottom, #f3f3f3 0%, #f0f0f0 66%, #efefef 100%);
}

table thead th {
  font-weight: bold;
  color: #707070;
}

table tbody td.editable {
  background-color: #dce4e9;
  padding: 0;
}

table td em {
  font-weight: bold;
  font-style: normal;
}

#detailed-table,
.sticky-table-header {
  display: none;
  margin: 0;
  width: 100%;
}

#detailed-table {
  margin-bottom: 150px;
}

.sticky-table-header th,
#detailed-table input {
  padding: 10px;
  font-size: 12px;
  margin: 0;
}

#detailed-table th {
  background: #efefef;
  padding: 10px;
  font-size: 12px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  visibility: collapse;
  max-height: 5px;
  border: none;
}

.sticky-header-container {
  margin-top: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  z-index: 100;
}

.sticky-table-header {
  background: #efefef;
}

.sticky-column {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  background-color: white;
}

.sticky-column::after {
  content: "";
  height: 100%;
  width: 1px;
  position: absolute;
  background-color: #ccc;
  top: 0;
  right: 0;
}

.sticky-column-header {
  background-color: #efefef;
}

#detailed-table td {
  padding: 10px;
  font-size: 12px;
}

#detailed-table .editable {
  padding: 0px;
}

/* Warning table element*/
table td em.warning {
  color: #eb6157;
}

.vertical-scrollable-table-wrapper {
  max-height: 500px;
  overflow-y: scroll;
  box-shadow: 3px 0px 30px #d3d2d2;
}

.vertical-scrollable-table-wrapper table {
  box-shadow: none;
  margin: 0;
  width: 100%;
}

.vertical-scrollable-table-wrapper thead {
  position: sticky;
  top: -2px;
}

.vertical-scrollable-table-wrapper thead::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #ccc;
}

.horizontal-scrollable-table-wrapper {
  max-width: 1000px;
  overflow-x: scroll;
}

.horizontal-scrollable-table-wrapper table {
  box-shadow: none;
  margin: 1px;
  margin-bottom: 1px;
}

.production-order-table {
  box-shadow: none;
  margin-top: 20px;
}

.production-order-table td {
  border-top: none;
  width: 100px;
  min-width: 70px;
}

/* Drag and Drop Table -------------------------------*/

#table {
  padding: 0px;
  margin-right: 20px;
  border-color: #ccc;
}

#table-header {
  padding: 0px;
  border: none;
  margin-right: 1px;
  min-height: 100%;
}

#table-header th {
  padding: 10px 10px;
  border-color: #ccc;
}

#last-header {
  border-bottom: none;
  height: 47px;
  border-color: #ccc;
}

#empty-header {
  height: 45px;
}

.table-container {
  box-shadow: none;
  padding: none;
  margin-top: none;
  margin-bottom: 150px;
}

.td-container {
  border: none;
  padding: none;
  margin-left: 20px;
}

.draggable-table td,
.draggable-table th {
  padding: 10px 10px;
  border-color: #ccc;
}

.draggable {
  cursor: move;
  user-select: none;
  border-top: none;
}
.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}
.clone-list {
  border: none;
  box-shadow: 3px 0px 30px #d3d2d2;
  display: flex;
}

.clone-list .draggable {
  margin: 0px;
  border-color: #ccc;
}
.clone-table {
  border-collapse: collapse;
  border: none;
  box-shadow: none;
}
.clone-table th,
.clone-table td {
  border: 1px solid #ccc;
  top: 0px;
  padding: 10px 10px;
  border-left: none;
  border-top: none;
}

.clone-table th {
  background-color: #efefef;
  border-top: none;
}

.dragging {
  background: #fff;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 0;
  z-index: 999;
}

/* PROGRESSBAR -----------------------------------------------*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background: #f3f3f3;
  box-shadow: 0px 0px 10px rgb(201, 201, 201);
  text-align: center;
  z-index: 9999;
  height: 130px;
}

.progressbar {
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  float: left;
  width: 14.28%;
  position: relative;
  text-align: center;
  color: #a49e9e;
}

.progressbar li a {
  color: #a49e9e;
  text-decoration: none;
}

.progressbar li.active a {
  color: #6194bc;
  font-weight: bold;
}

.progressbar li.active a:hover {
  color: #5785a8;
}

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 32px;
  border: 2px solid rgb(207, 207, 207);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #f3f3f3;
}

.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgb(207, 207, 207);
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: white;
}

.progressbar li.active:before {
  border-color: #6194bc;
  background-color: #6194bc;
}

.progressbar li.active + li:after {
  background-color: #6194bc;
}

/* VORHERIGE PERIODE SEITE -----------------------------------------------*/

.upload-container {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 480px;
}

input[type="file"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: -1px;
  left: 0;
  width: 0.1px;
  height: 0.1px;
}

input[type="file"]:focus + label[for="files"] {
  border: 1px solid #85e5ff;
}

label[for="file-selector"] {
  background: #efefef;
  padding: 20px;
  color: #333333;
  font-family: sans-serif;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

label[for="file-selector"]:hover {
  background: #e4e4e4;
}

/* TABWIDGET ----------------------------------------------*/
.tab-widget-content {
  padding: 50px;
  box-shadow: 3px 0px 30px #d3d2d2;
}

.tab-widget-content .vertical-scrollable-table-wrapper {
  max-height: 350px;
}

.tab {
  padding: 15px;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  min-width: 100px;
  text-align: center;
  font-size: 1em;
}

.tab.active {
  background: #abc4d2;
}

.tab.active:hover {
  background: #9fb5c2;
}

.tab.inactive {
  background: #efefef;
}

.tab.inactive:hover {
  background: #e0e0e0;
}

/* WARNING ---------------------------------------------- */
.warning-container {
  width: 300px;
  border-radius: 30px;
  padding: 30px;
  padding-bottom: 15px;
  box-shadow: 3px 0px 30px #d3d2d2;
  display: none;
  margin-left: 50px;
  position: sticky;
  top: 200px;

  /* display: block; */
}

.warning-header {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #eb6157;
}

.warning-text {
  font-size: 14px;
  margin: 0;
}

#warning-icon {
  height: 30px;
}

/* FOOTER -----------------------------------------------*/
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 6px;
  background: #f1f1f1;
  text-align: center;
  font-size: small;
}
