<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <meta
      name="description"
      content="The Supply Chain Planner is used to plan orders, inventory, production and sales"
    />
    <title>Upload Data from Previous Period</title>

    <script>
        /*Aufruf der Dateiauswahl-Button-Funktion*/
        document.addEventListener("DOMContentLoaded", function(event) { 
            fileUploadStyling();
        })

        /*Änderung der Dateiauswahl-Button-Anzeige*/
        function fileUploadStyling(){
            let input = document.querySelectorAll("input[type=file]");

            var inputFile = input[0];
                inputFile.addEventListener('change',function(e){

                    var label = this.nextElementSibling;

                    if(this.files && this.files.length == 1){
                        label.innerHTML = '"'+ this.files[0].name + '"'+ ' ausgewählt.';
                    }
                });
         }

    </script>

  </head>
  <body>
    <nav>
      <ul class="progressbar">
        <li class="active"><a>Previous Period</a></li>
        <li><a>Sales forecasts and production plan</a></li>
        <li><a>Stock and production of intermediate products</a></li>
        <li><a>Production sequence and splitting</a></li>    
        <li><a>Orders</a></li> 
        <li><a>Capacity</a></li> 
        <li><a>Finances</a></li>
      </ul>
    </nav>

    <form method="post" enctype="multipart/form-data">
      <div class="upload-container">
        <img id="file-upload" src="{{ url_for('static', filename='img/FileUpload.png') }}" />
        <h2>Upload final values of the previous period</h2>
        <p>
          Upload the final values of the previous period as XML file.
        </p>

        <input class="file-selector" type="file" accept="text/xml" name="file" id="file-selector">
        <label for="file-selector">Choose file</label>
        </input>
        <button class="accent-button">
            <span class="material-icons white-icon">
                file_upload
            </span>
            Upload
        </button>
        {% if error %}
        <p class="error">Please choose a file!</p>
        {% endif %}
        {% if invalid %}
        <p class="invalid">Either syntax or content of selected file is invalid!</p>
        {% endif %}
        {% if message %}
        <p class="success">File for period {{ period }} has been uploaded succesfully.</p>
        {% endif %}
        {% if overwrite %}
        <p class="info">Data for period {{ period }} has been updated.</p>
        {% endif %}
        <br>
        <p>If this is your first period and there are no previous ones, do not upload a file and press "Continue".</p>
      </div>
    </form>

    <button 
      class="continue-button" 
      type="submit" 
      value="Upload" 
      onclick="location.href='2_salesPrediction.html'">
      Continue
      <img id="continue-icon" src="{{ url_for('static', filename='img/continueArrow.png') }}" />
    </button>
  </body>
  <footer>
    © IbSys2 Project by René Hopfe, David Böhm and Amelie Rempel, 2021
  </footer>
</html>
