<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <meta
      name="description"
      content="The Supply Chain Planner is used to plan orders, inventory, production and sales"
    />
    <title>Supply Chain Planer</title>
  </head>
  <body>
    <div class="container">
      <h1>SUPPLY CHAIN PLANER</h1>
      <button class="accent-button" onclick="location.href='1_lastPeriod.html'">
        Start planning next period
      </button>
    </div>
  </body>
  <footer>
    © IbSys2 Project by René Hopfe, David Böhm and Amelie Rempel, 2021
  </footer>
</html>
